<div id="legend">
    <legend class="">Forms</legend>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#/forms">Forms</a></li>
    <li><a href="#/forms">Fields</a></li>
</ul>
<div class="form-table-container" ng-controller="FormController">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><i class="caret"></i> Form Name</th>
                <th class="form-action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" ng-model="form.title" class="form-control" placeholder="name"></td>
                <td>
                    <a ng-click="addForm(form)"><span class="glyphicon glyphicon-plus tableicon-lg"></span></a>&nbsp;
                    <a ng-click="updateForm(form)"><span class="glyphicon glyphicon-ok tableicon-lg pull-right"></span></a>
                </td>
            </tr>
            <tr ng-repeat="form in forms" ng-class="{'selected-form': $index == selected}">
                <td><a href="">{{form.title}}</a></td>
                <td>
                    <a ng-click="deleteForm(form._id)"><span class="glyphicon glyphicon-remove tableicon-lg"></span></a>&nbsp;
                    <a ng-click="selectForm($index)"><span class="glyphicon glyphicon-pencil tableicon-lg pull-right"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>