<div class="container-fluid">

    <input type="text" class="form-control" ng-model="gadgetName"/>
    <a href="javascript:void(0)" ng-click="model.search(gadgetName)" class="btn btn-primary btn-block">SEARCH</a>

    <div class="col-md-6" ng-repeat="gadget in model.gadgets">
        <a ui-sref="search-result({productId: gadget.productId})">
            <span>{{gadget.productId}}</span>
            <img class="img-responsive" ng-src={{gadget.image}} /> <br/>
            <span>{{gadget.name}}</span>
        </a>
    </div>

</div>