<div class="container-fluid">
    <h3>{{model.gadget.name}}</h3><br/>
    <img ng-src="{{model.gadget.largeFrontImage}}"/>
    <div class="pull-right text-center">
        <span>Market Price: {{model.gadget.regularPrice}}</span><br/>
        <span>Average Rating: {{model.gadget.customerReviewAverage}}</span>
    </div>
    <hr/>
    {{model.gadget.longDescription}}
    <hr/>
    <div class="container-fluid no-padding">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active" role="presentation" class="text-center">
                <a ui-sref=".feature">FEATURE</a>
            </li>
            <li ui-sref-active="active" role="presentation" class="text-center">
                <a ui-sref=".review">REVIEWS</a>
            </li>
            <li ui-sref-active="active" role="presentation" class=" text-center">
                <a ui-sref=".spec">SPECIFICATION</a>
            </li>
        </ul>

        <div ui-view></div>

    </div>


</div>