span.glyphicon.tableicon-lg {
    font-size: 1.5em;
}

.formtable {
    margin-left: 14px;
}

.formtab {
    width: 101%;
}

.field-container {
    border: 1px solid #DDDDDD;
    margin: 10px;
    overflow: auto;
    padding-bottom: 10px;
}

.form-row{
    margin-top: 5px;
}