.glyphicon.tableicon-lg {
    font-size: 1.2em;
}

.formtab {
    width: 101%;
}

.field-container {
    border: 1px solid #DDDDDD;
    overflow: auto;
    padding-bottom: 10px;
}

.form-row{
    margin-top: 5px;
}

.form-horizontal .control-label.text-left{
    text-align: left!important;
}

.glyphicon.glyphicon-remove {
    color: #C9302C;
}

.glyphicon.glyphicon-pencil {
    color: darkslategrey;
}

.glyphicon.glyphicon-plus {
    color: #eea236;
}

.glyphicon.glyphicon-ok {
    color: #73AD21;
}

.glyphicon.glyphicon-align-justify {
    color: #4578C0;
}

.form-action{
    width: 100px;
}

.form-table-container {
    border: 1px solid #DDD;
    padding: 15px 15px 0px 15px;
}

.no-visibility {
    visibility: hidden;
}

.selected-form {
    background-color: #D9E4EC!important;
}