.glyphicon.tableicon-lg {
    font-size: 1.2em;
}

.formtable {
    margin-left: 14px;
}

.formtab {
    width: 101%;
}

.field-container {
    border: 1px solid #DDDDDD;
    overflow: auto;
    padding-bottom: 10px;
}

.form-row{
    margin-top: 5px;
}

.form-horizontal .control-label.text-left{
    text-align: left!important;
}

.glyphicon.glyphicon-remove {
    color: red;
}

.glyphicon.glyphicon-pencil {
    color: darkslategrey;
}

.glyphicon.glyphicon-plus {
    color: orange;
}

.glyphicon.glyphicon-ok {
    color: green;
}

.glyphicon.glyphicon-align-justify {
    color: aquamarine;
}

.form-action{
    width: 100px;
}

.form-table-container {
    border: 1px solid #DDD;
    padding-top: 15px;
    padding-right: 15px;
}