html, body {
    height: 100%;
}

.glyphicon.tableicon-lg {
    font-size: 1.2em;
}

.formtab {
    width: 101%;
}

.field-container {
    border: 1px solid #DDDDDD;
    overflow: auto;
    padding-bottom: 10px;
}

.form-row{
    margin-top: 5px;
}

.form-horizontal .control-label.text-left{
    text-align: left!important;
}

.glyphicon.glyphicon-remove {
    color: #C9302C;
}

.glyphicon.glyphicon-pencil {
    color: darkslategrey;
}

.glyphicon.glyphicon-plus {
    color: #eea236;
}

.glyphicon.glyphicon-ok {
    color: #73AD21;
}

.glyphicon.glyphicon-align-justify {
    color: #4578C0;
}

.form-action{
    width: 100px;
}

.form-table-container {
    border: 1px solid #DDD;
    padding: 15px 15px 0px 15px;
}

.no-visibility {
    visibility: hidden;
}

footer {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-bottom: 1px;
    /*padding-top: 30px;*/
    /*height: 40px;*/
}

/*.wrapper {*/
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    /*margin: 0 auto -40px; !* the bottom margin is the negative value of the footer's height *!*/
/*}*/

.login-container-border {
    box-shadow: 1px 1px 5px 5px #888888;
    transform: translateY(40%);
    border-radius: 10px;
}

.register-container-border {
    box-shadow: 1px 1px 5px 5px #888888;
    transform: translateY(10%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-sidebar-mobile {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    /*z-index: 1000;*/
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #EEEEEE;
    /*border-right: 1px solid #eee;*/
    padding: 0px!important;
}

.nav-sidebar-mobile-menu {
    list-style: none;
}

.profile-icon {
    /*color: #ffffff;*/
    font-size: 32px;
    margin-top: 10px;
    cursor: pointer;
    cursor: hand;
}

.profile-img {
    padding: 5px;
}

.review-row {
    height: 100%;
}

.review-row p{
    /*margin-top: 10px;*/
}

.img-gadget-review {
    height: 100%;
    width: 100%;
    max-width: 150px;
    max-width: 150px;
}

.container-profile-review-img {
    max-height: 30%;
}

.container-profile-review {
    height: 100%;
    display : flex;
    align-items : center;
}

.profile-like-icon {
    font-size: 25px;
}

.like-tab{
    width: 50%;
}

.container-like {
    margin-top: 5px;
}

.container-inner-like {

}

.container-like-list {
    margin-top: 20px;
}

.edit-profile-container {
    margin-top: 20px;
}

.mobile-profile-sidebar-controller li:hover
{
    /*text-decoration:none;*/
    background-color: lightgray;
}

.mobile-profile-sidebar-icon-selected {
    background-color: lightgray;
}

li.mobile-profile-sidebar-icon-selected:hover {

}

.td-admin-user {
    width: 155px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.search-review-text {
    margin-top: 10px;
}