<div ng-controller="SidebarController as model">
    <div class="col-xs-2 sidebar text-center">
        <!--<h3>{{model.paramUser.username}}'s profile</h3>-->
        <img class="img-responsive profile-img" ng-src="{{model.paramUser.imgUrl || '/project/client/img/no-user-img.png'}}"/>
        <ul class="nav nav-sidebar text-center lg-profile-sidebar-controller">
            <li ui-sref-active="active" ng-if="model.paramUser._id === model.loggedInUser._id">
                <a ui-sref=".edit"><i class="fa fa-pencil"></i> Edit Profile</a>
            </li>
            <li ng-if="model.paramUser._id !== model.loggedInUser._id">
                <div class="profile-follow-container">
                    <a href="" ng-click="model.follow()" ng-if="!model.isFollowing" class="btn btn-success btn-xs">FOLLOW</a>
                    <a href="" ng-click="model.unfollow()" ng-if="model.isFollowing" class="btn btn-warning btn-xs">UNFOLLOW</a>
                </div>
            </li>
            <li ui-sref-active="active"><a ui-sref=".review"><i class="glyphicon glyphicon-comment"></i> Review</a></li>
            <li ui-sref-active="active"><a ui-sref=".follow-main.following"><i class="fa fa-users"></i> Following</a></li>
            <li ui-sref-active="active"><a ui-sref=".follow-main.follower"><i class="fa fa-users"></i> Followers</a></li>
            <li ui-sref-active="active"><a ui-sref=".like"><i class="glyphicon glyphicon-thumbs-up"></i> Likes</a></li>
        </ul>
    </div>

    <div class="nav-sidebar-mobile col-xs-2 visible-xs-block text-center">
        <img class="img-responsive mobile-profile-img" ng-src="{{model.paramUser.imgUrl || '/project/client/img/no-user-img.png'}}"/>
        <ul class="nav text-center mobile-profile-sidebar-controller">
            <li ng-if="model.paramUser._id === model.loggedInUser._id">
                <a ui-sref=".edit">Edit</a>
            </li>
            <li ng-if="model.paramUser._id !== model.loggedInUser._id">
                <div class="profile-follow-container">
                    <a href="" ng-click="model.follow()" ng-if="!model.isFollowing">
                        <i class="fa fa-user-plus mobile-follow" aria-hidden="true"></i>
                    </a>
                    <a href="" ng-click="model.unfollow()" ng-if="model.isFollowing">
                        <i class="fa fa-user-times mobile-unfollow" aria-hidden="true"></i>
                    </a>
                </div>
            </li>
            <li ui-sref-active="mobile-profile-sidebar-icon-selected">
                <a ui-sref=".review"><i class="glyphicon glyphicon-comment profile-icon"></i></a>
            </li>
            <li ng-class="{'mobile-profile-sidebar-icon-selected': model.state.includes('follow-main')}">
                <a ui-sref=".follow-main.following"><i class="fa fa-users profile-icon"></i></a>
            </li>
            <li ui-sref-active="mobile-profile-sidebar-icon-selected">
                <a ui-sref=".like"><i class="glyphicon glyphicon-thumbs-up profile-icon"></i></a>
            </li>
        </ul>
    </div>
</div>