<div class="container-fluid">
    <div class="row review-row" ng-repeat="review in model.reviews | orderBy: '-createdOn'">
        <!--<p>Gadget Name</p>-->

        <div class="col-sm-3 container-profile-review-img">
            <img class="img-responsive img-gadget-review" ng-src="{{review.gadget.imgUrl}}"/>
        </div>
        <div class="col-sm-9 container-profile-review">
            <div class="container">
                <a href='' ui-sref='search-detail({gadgetId: review.gadget._id})'><h4>{{review.gadget.title}}</h4></a>
                <h4>{{review.title}}</h4> <small>On {{review.createdOn | date : "MMM dd, yyyy HH:mm"}}</small> <br/>
                <ng-rating ng-model="review.rating" editable="false"></ng-rating>
                <p>{{review.review | limitTo : 100}}
                    {{review.review.length > 100 ? "..." : ""}}
                </p>
            </div>
        </div>
        <hr/>
    </div>
</div>