<div class="container-fluid">
    <div class="row review-row" ng-repeat="review in model.reviews">
        <!--<p>Gadget Name</p>-->

        <div class="col-sm-3 container-profile-review-img">
            <img class="img-responsive img-gadget-review" ng-src="{{review.gadget.imgUrl}}" />
        </div>
        <div class="col-sm-9 container-profile-review">
            <div class="container">
                <div class="row">
                    <a href='' ui-sref='search-detail({gadgetId: review.gadget._id})'><h4>{{review.gadget.title}}</h4></a>
                </div>
                <div class="row">
                    <ng-rating ng-model="review.rating" editable="false"></ng-rating>
                    <p>{{review.title}}</p>
                    <p>{{review.review | limitTo : 100}}
                        {{review.review.length > 100? "..."  : ""}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>