<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>GadgetGuru.com</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GadgetGuru.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">{{username}}</a></li>-->
                    <li><a href="../users/register.view.html">REGISTER</a></li>
                    <li><a href="../users/login.view.html">LOGIN</a></li>
                    <!--<li><a href="#">LOGOUT</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 sidebar">
                <img class="img-responsive" src="../../img/user.jpg">
                <ul class="nav nav-sidebar text-center">
                    <li><a href="">EDIT PROFILE</a></li>
                    <li class="active"><a href="">REVIEW</a></li>
                    <li><a href="">FOLLOWERS</a></li>
                    <li><a href="">FOLLOWING</a></li>
                    <li><a href="">LIKES</a></li>
                    <li><a href="">DISLIKES</a></li>
                </ul>
            </div>

            <div class="nav-sidebar-mobile col-xs-2 visible-xs-block text-center">
                <img class="img-responsive profile-img" src="../../img/user.jpg">
                <a href="" style="">Edit</a> <br/>
                <!--<img class="img-responsive " src="../../img/review-blue1.png">-->
                <i class="glyphicon glyphicon-comment profile-icon"></i> <br/>
                <i class="glyphicon glyphicon-thumbs-up profile-icon"></i> <br/>
                <i class="fa fa-users profile-icon"></i>

                <!--<ul class="nav-sidebar-mobile-menu text-center">-->
                    <!--<li class="active"><a href="">-->
                        <!--<img class="img-responsive " src="../../img/review small.png">-->
                    <!--</a></li>-->
                    <!--<li><a href="">-->
                        <!--<img class="img-responsive " src="../../img/like.png">-->
                    <!--</a></li>-->
                    <!--<li><a href="">-->
                        <!--<img class="img-responsive " src="../../img/dislike.png">-->
                    <!--</a></li>-->
                    <!--<li><a href="">-->
                        <!--<img class="img-responsive " src="../../img/reviewicon.png">-->
                    <!--</a></li>-->
                    <!--<li><a href="">-->
                        <!--<img class="img-responsive " src="../../img/reviewicon.png">-->
                    <!--</a></li>-->
                <!--</ul>-->
            </div>

            <!-- Content goes here-->
            <div class="col-xs-10 col-xs-offset-2">
                <div class="container-fluid">
                    <legend>Review by you</legend>
                    <div class="row review-row">
                        <!--<p>Gadget Name</p>-->
                        <div class="col-xs-3">
                            <img class="img-responsive img-gadget-review" src="../../img/gadget.jpeg">
                        </div>
                        <div class="col-xs-9 container-profile-review">
                            <div class="container">
                                <div class="row">
                                    <h4>Name</h4>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row review-row">
                        <!--<p>Gadget Name</p>-->
                        <div class="col-xs-3">
                            <img class="img-responsive img-gadget-review" src="../../img/gadget.jpeg">
                        </div>
                        <div class="col-xs-9 container-profile-review">
                            <div class="container">
                                <div class="row">
                                    <h4>Name</h4>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row review-row">
                        <!--<p>Gadget Name</p>-->
                        <div class="col-xs-3">
                            <img class="img-responsive img-gadget-review" src="../../img/gadget.jpeg">
                        </div>
                        <div class="col-xs-9 container-profile-review">
                            <div class="container">
                                <div class="row">
                                    <h4>Name</h4>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row review-row">
                        <!--<p>Gadget Name</p>-->
                        <div class="col-xs-3">
                            <img class="img-responsive img-gadget-review" src="../../img/gadget.jpeg">
                        </div>
                        <div class="col-xs-9 container-profile-review">
                            <div class="container">
                                <div class="row">
                                    <h4>Name</h4>
                                </div>
                                <div class="row">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<footer class="text-center">-->
        <!--<p>-->
            <!--Lijo Daniel | <i class="fa fa-copyright"></i>  2016-->
        <!--</p>-->
    <!--</footer>-->
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>