<div ng-controller="ReviewController">
    <div class="row">
        <div class="col-sm-3">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold padding-bottom-7">
                    {{model.avgRating === 0 || model.isNaN(model.avgRating) ? 0 :
                                    model.Math.round(model.avgRating * 2) / 2}}
                    <small>/ 5</small></h2>
                <ng-rating ng-model="model.avgRating" editable="false" stars-count="model.maxRating"></ng-rating>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>Rating breakdown</h4>
            <div class="pull-left" ng-repeat="rating in model.allRating | orderBy:'-$index':true track by $index">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">{{model.maxRating - $index}} <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">

                        <div class="progress-bar progress-bar-success"
                             ng-style="{'width': model.avgPerRating[model.maxRating - $index - 1]+'%'}" >
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">{{rating}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr/>
            <div class="review-block">
                <div class="row" ng-repeat="review in model.reviews | orderBy: '-createdOn'">
                    <div class="col-sm-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        <div class="review-block-name">
                            <!--a href="#"-->
                                {{review.username}} <br/>
                                {{review.createdOn}}
                            <!--/a-->
                        </div>
                        <!--<div class="review-block-date">January 29, 2016</div>-->
                    </div>
                    <div class="col-sm-9" ng-if="model.selectedIndex !== $index">
                        <ng-rating ng-model="review.rating" editable="false" stars-count="model.maxRating"></ng-rating>
                        <div class="review-block-title">{{review.title}}</div>
                        <a class="pull-right" href="javascript:void(0)" ng-click="model.selectReview($index)"
                            ng-if="review.username === model.user.username">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="pull-right" href="javascript:void(0)" ng-click="model.deleteReview($index)"
                           ng-if="review.username === model.user.username">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <div class="review-block-description">{{review.review}}</div>
                    </div>
                    <div class="col-sm-9" ng-if="model.selectedIndex === $index">
                        <ng-rating ng-model="review.rating" editable="true" stars-count="model.maxRating">
                        </ng-rating>
                        <input ng-model="review.title" class="form-control" type="text"
                               placeholder="Please enter a title for your review"/>
                    <textarea ng-model="review.review" class="search-review-text form-control"
                              placeholder="Please enter your review" rows="3"></textarea>
                        <a href="javascript:void(0)" ng-click="model.updateReview(review)"
                           class="btn btn-primary review-update-btn">Update</a>
                    </div>
                    <hr/>
                </div>
                <hr/>
                <div class="">
                    <h4>Write a Review:</h4>
                    <form role="form" class="ng-pristine ng-valid">
                        <div class="form-group rating-container">
                            <ng-rating ng-model="model.review.rating" editable="true" stars-count="model.maxRating">
                            </ng-rating>
                            <input ng-model="model.review.title" class="form-control" type="text"
                                   placeholder="Please enter a title for your review"/>
                            <textarea ng-model="model.review.review" class="search-review-text form-control"
                                      placeholder="Please enter your review" rows="3"></textarea>
                        </div>
                        <a href="javascript:void(0)" ng-click="model.addReview(model.review)"
                           class="btn btn-primary">Submit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>