<div class="container-fluid review-container" ng-controller="ReviewController">
    <div class="row">
        <div class="col-sm-4">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold padding-bottom-7">
                    {{model.avgRating === 0 || model.isNaN(model.avgRating) ? '-' :
                    model.Math.round(model.avgRating * 2) / 2}}
                    <small>/ 5</small>
                </h2>
                <ng-rating ng-model="model.avgRating" editable="false" stars-count="model.maxRating"></ng-rating>
            </div>
        </div>

        <div class="col-sm-6">
            <h4>Rating breakdown</h4>
            <div class="row" ng-repeat="rating in model.allRating | orderBy:'-$index':true track by $index">
                <div class="col-xs-1 no-wrap">
                    {{model.maxRating - $index}}
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="col-xs-6">
                    <div class="progress review-rating-progress">
                        <div class="progress-bar progress-bar-success"
                             ng-style="{'width': model.avgPerRating[model.maxRating - $index - 1]+'%'}">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2">{{rating}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr/>
            <h3 class="lead">Review</h3>
            <div>
                {{model.reviews.length === 0 ? 'Be the first to review this gadget.' : ''}}
            </div>
            <div class="panel panel-default" ng-repeat="review in model.reviews | orderBy: '-createdOn'">
                <div class="panel-body">
                    <div class="col-sm-2">
                        <img class="img-responsive review-user-image"
                             ng-src="{{review.userImgUrl || '/project/client/img/no-user-img.png'}}"
                             class="img-rounded">
                        <div class="review-block-name">
                            By <a ui-sref="profile.review({userId: review.userId})">{{review.username}}</a>
                            {{review.createdOn | date : "MMM dd, yyyy HH:mm"}}
                        </div>
                    </div>
                    <div class="col-sm-10" ng-if="model.selectedIndex !== $index">
                        <ng-rating ng-model="review.rating" editable="false" stars-count="model.maxRating"></ng-rating>
                        <div class="review-block-title">{{review.title}}</div>
                        <div class="review-block-description text-justify">{{review.review}}</div>
                    </div>
                    <div class="col-sm-10" ng-if="model.selectedIndex === $index">
                        <ng-rating ng-model="review.rating" editable="true" stars-count="model.maxRating">
                        </ng-rating>
                        <input ng-model="review.title" class="form-control" type="text"
                               placeholder="Please enter a title for your review"/>
                        <textarea ng-model="review.review" class="search-review-text form-control"
                                  placeholder="Please enter your review" rows="3"></textarea>
                    </div>
                </div>
                <div class="panel-footer" ng-if="review.username === model.user.username">
                    <div class="pull-right" ng-if="model.selectedIndex !== $index">
                        <a class="btn btn-sm btn-warning" href="javascript:void(0)"
                           ng-click="model.selectReview($index)">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a class="btn btn-sm btn-danger" href="javascript:void(0)"
                           ng-click="model.deleteReview(review)">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </div>
                    <div class="pull-right review-update-btn-container" ng-if="model.selectedIndex === $index">
                        <a href="javascript:void(0)" ng-click="model.cancelUpdate()"
                           class="btn btn-sm btn-warning"><i class="fa fa-times"></i> Cancel</a>
                        <a href="javascript:void(0)" ng-click="model.updateReview(review)"
                           class="btn btn-sm btn-success"><i class="fa fa-pencil"></i> Update</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <hr/>
            <div class="review-new-container well">
                <h4>Write a Review:</h4>
                <div class="form-group rating-container">
                    <ng-rating ng-model="model.review.rating" editable="true" stars-count="model.maxRating">
                    </ng-rating>
                    <input ng-model="model.review.title" class="form-control" type="text"
                           placeholder="Please enter a title for your review"/>
                            <textarea ng-model="model.review.review" class="search-review-text form-control"
                                      placeholder="Please enter your review" rows="3"></textarea>
                </div>
                <a href="" ng-click="model.addReview(model.review)" ng-if="model.user"
                   class="btn btn-success pull-right">Submit</a>
                <a href="" ng-disabled="!model.user" ng-if="!model.user"
                   class="btn btn-warning pull-right">Please login to review</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>