<flash-message ng-if="model.follower.length === 0" type="info"
               header="Info"
               msg="Current does not have any followers.">
</flash-message>

<ng-include src="'views/commons/loading.html'"></ng-include>
<div class="container-fluid container-inner-like">
    <div class="row">
        <div class="col-sm-4 col-md-2 container-like-list" ng-repeat="user in model.follower">
            <div class="thumbnail text-center">
                <a ui-sref="profile.review({userId: user._id})">
                    <img class="img-responsive profile-img"
                         ng-src="{{user.imgUrl || '/project/client/img/no-user-img.png'}}">
                    <div class="caption text-center"><h4>{{user.firstName}} {{user.lastName}}</h4></div>
                </a>
                <div ng-if="user._id != model.currUser._id">
                    <a href="" ng-click="model.follow(user)"
                       ng-if="!user.isFollowing"
                       class="btn btn-success btn-xs">
                        FOLLOW
                    </a>
                    <a href="" ng-click="model.unfollow(user)"
                       ng-if="user.isFollowing"
                       class="btn btn-warning btn-xs">
                        UNFOLLOW
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>