<div class="col-xs-2 sidebar">
    <img class="img-responsive profile-img" src="/project/img/user.jpg" />
    <ul class="nav nav-sidebar text-center">
        <li><a href="">EDIT PROFILE</a></li>
        <li class="active"><a ui-sref=".review">REVIEW</a></li>
        <li><a ui-sref=".follow-main.follower">FOLLOWERS</a></li>
        <li><a ui-sref=".follow-main.following">FOLLOWING</a></li>
        <li><a ui-sref=".like-main.like">LIKES</a></li>
        <li><a ui-sref=".like-main.dislike">DISLIKES</a></li>
    </ul>
</div>

<div class="nav-sidebar-mobile col-xs-2 visible-xs-block text-center">
    <img class="img-responsive profile-img" ng-src="/project/img/user.jpg" />
    <a href="" style="">Edit</a> <br/>
    <!--<img class="img-responsive " src="../../img/review-blue1.png">-->
    <i class="glyphicon glyphicon-comment profile-icon"></i> <br/>
    <i class="glyphicon glyphicon-thumbs-up profile-icon"></i> <br/>
    <i class="fa fa-users profile-icon"></i>

    <!--<ul class="nav-sidebar-mobile-menu text-center">-->
    <!--<li class="active"><a href="">-->
    <!--<img class="img-responsive " src="../../img/review small.png">-->
    <!--</a></li>-->
    <!--<li><a href="">-->
    <!--<img class="img-responsive " src="../../img/like.png">-->
    <!--</a></li>-->
    <!--<li><a href="">-->
    <!--<img class="img-responsive " src="../../img/dislike.png">-->
    <!--</a></li>-->
    <!--<li><a href="">-->
    <!--<img class="img-responsive " src="../../img/reviewicon.png">-->
    <!--</a></li>-->
    <!--<li><a href="">-->
    <!--<img class="img-responsive " src="../../img/reviewicon.png">-->
    <!--</a></li>-->
    <!--</ul>-->
</div>