<h3 class="text-center">Browse through our wide categories of latest tech!</h3>

<div class="row">
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'mobile', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/mobile.jpg"/>
                <h3 class="">Mobile</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'laptop', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/laptop.jpg"/>
                <h3 class="legend">Laptop</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6  gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'appliances', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/appliance.jpg"/>
                <h3 class="legend">Appliances</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'games', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/gaming.jpg"/>
                <h3 class="legend">Games</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'software', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/software.jpg"/>
                <h3 class="legend">Software</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'audio', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/electronic.jpg"/>
                <h3 class="legend">Audio Tech</h3>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 gadget-search-container text-center">
        <div class="thumbnail">
            <a href="" ui-sref="home.result({keyword: 'camera', isCategory: true})">
                <img class="img-responsive" height="200px" src="/project/client/img/search-category/camera.jpg"/>
                <h3 class="legend">Camera</h3>
            </a>
        </div>
    </div>
</div>