<nav class="navbar navbar-inverse navbar-fixed-top header-navbar" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp;GadgetGuru</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">{{username}}</a></li>-->
                <li ng-show="currentUser">
                    <a ui-sref="profile.edit({userId: currentUser._id})" class="hidden-xs"><i class="fa fa-user"
                                                                                              aria-hidden="true"></i>
                        {{currentUser.username}}</a>
                    <a ui-sref="profile.edit({userId: currentUser._id})" data-toggle="collapse"
                       data-target=".navbar-collapse" class="visible-xs"><i class="fa fa-user" aria-hidden="true"></i>
                        {{currentUser.username}}</a>
                </li>
                <!--<li ui-sref-active="active" ng-show="currentUser && currentUser.roles.indexOf('admin') > -1">-->
                <!--<a ui-sref="admin-user">USER</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active" ng-show="currentUser">-->
                <!--<a ui-sref="profile">PROFILE</a>-->
                <!--</li>-->
                <li ui-sref-active="active" ng-hide="currentUser">
                    <a ui-sref="register" class="hidden-xs"><i class="fa fa-link"
                                                               aria-hidden="true"></i>
                        REGISTER</a>
                    <a ui-sref="register" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><i
                            class="fa fa-link"
                            aria-hidden="true"></i>
                        REGISTER</a>
                </li>
                <li ui-sref-active="active" class="hidden-xs" ng-hide="currentUser">
                    <a ui-sref="login"><i class="fa fa-sign-in"
                                          aria-hidden="true"></i>
                        LOGIN</a>
                <li ui-sref-active="active" class="visible-xs" ng-hide="currentUser">
                    <a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-sign-in"
                                                                                                aria-hidden="true"></i>
                        LOGIN</a>
                </li>
                <li ng-show="currentUser">
                    <a href="" ng-click="model.logOut()" class="hidden-xs"><i
                            class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    <a href="" ng-click="model.logOut()" class="visible-xs" data-toggle="collapse"
                       data-target=".navbar-collapse"><i
                            class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>