<div class="container-fluid">
    <div class="row">
        <h3>{{searchDetailModel.gadget.name}}</h3><br/>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img class="img-responsive" ng-src="{{searchDetailModel.gadget.largeFrontImage}}"/>
        </div>
        <div class="col-sm-4 text-center">
            <!--<uib-rating class="main-rating-container" ng-model="searchDetailModel.avgRating"-->
                        <!--max="searchDetailModel.maxRating" read-only="true"-->
                        <!--aria-labelledby="default-rating"></uib-rating>-->
            <ng-rating ng-model="searchDetailModel.avgRating" editable="false" stars-count="model.maxRating"></ng-rating>
            <br/>
            <h4><b>Market Price:</b> {{searchDetailModel.gadget.regularPrice}}</h4><br/>
            <a href="" ng-if="!searchDetailModel.isLiked" ng-click="searchDetailModel.likeGadget()">
                <i class="fa fa-thumbs-o-up" style="font-size: 3em;"></i>
            </a>
            <a href="" ng-if="searchDetailModel.isLiked" ng-click="searchDetailModel.undoLikeGadget()">
                <i class="fa fa-thumbs-up" style="font-size: 3em; "></i>
            </a>
        </div>
    </div>
    <hr/>
    {{searchDetailModel.gadget.longDescription}}
    <hr/>
    <div class="row">
        <div class="container-fluid no-padding">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".feature">FEATURE</a>
                </li>
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".review">REVIEWS</a>
                </li>
                <li ui-sref-active="active" role="presentation" class=" text-center">
                    <a ui-sref=".spec">SPECIFICATION</a>
                </li>
            </ul>

            <div ui-view></div>

        </div>
    </div>
</div>