<div class="container-fluid">
    <div class="row">
        <h3>{{searchDetailModel.gadget.name}}</h3>
        <p class="text-muted">{{searchDetailModel.gadget.manufacturer.length > 0 ? 'By' : ''}}
            {{searchDetailModel.gadget.manufacturer}} {{searchDetailModel.gadget.modelNumber.length > 0 ? '| Model:' :
            ''}} {{searchDetailModel.gadget.modelNumber}}</p>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <img class="img-responsive" ng-src="{{searchDetailModel.gadget.largeFrontImage}}"/>
        </div>
        <div class="col-sm-2 text-center">
            <!--<uib-rating class="main-rating-container" ng-model="searchDetailModel.avgRating"-->
            <!--max="searchDetailModel.maxRating" read-only="true"-->
            <!--aria-labelledby="default-rating"></uib-rating>-->
            <ng-rating ng-model="searchDetailModel.avgRating" editable="false"
                       stars-count="searchDetailModel.maxRating"></ng-rating>
            <br/>
            <h4><b>Market Price:</b> {{searchDetailModel.gadget.regularPrice}}</h4><br/>
            <div ng-if="searchDetailModel.user">
                <a href="" ng-if="!searchDetailModel.isLiked" ng-click="searchDetailModel.likeGadget()">
                    <i class="fa fa-thumbs-o-up search-detail-like"></i>
                </a>
                <a href="" ng-if="searchDetailModel.isLiked" ng-click="searchDetailModel.undoLikeGadget()">
                    <i class="fa fa-thumbs-up search-detail-like"></i>
                </a>
            </div>
            <div ng-if="!searchDetailModel.user" uib-tooltip="Please login to like!">
                <a>
                    <i class="fa fa-thumbs-o-up search-detail-like"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <hr/>
    {{searchDetailModel.gadget.longDescription}}
    <hr/>
    <div class="row">
        <div class="container-fluid no-padding">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".feature">FEATURE</a>
                </li>
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".review">REVIEWS</a>
                </li>
                <li ui-sref-active="active" role="presentation" class=" text-center">
                    <a ui-sref=".spec">SPECIFICATION</a>
                </li>
            </ul>

            <div ui-view></div>

        </div>
    </div>
</div>