<div class="container-fluid">
    <div class="row">
        <h3>{{searchDetailModel.gadget.name}}</h3>
        <p class="text-muted">{{searchDetailModel.gadget.manufacturer.length > 0 ? 'By' : ''}}
            {{searchDetailModel.gadget.manufacturer}} {{searchDetailModel.gadget.modelNumber.length > 0 ? '| Model:' :
            ''}} {{searchDetailModel.gadget.modelNumber}}</p>
        <ng-rating ng-model="searchDetailModel.avgRating" editable="false"
                   stars-count="searchDetailModel.maxRating"></ng-rating>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5 text-center">
            <img class="img-responsive detail-img"
                 ng-src="{{searchDetailModel.gadget.largeFrontImage || '/project/client/img/no-gadget-img.png'}}"/>
            <hr class="visible-xs"/>
        </div>
        <div class="col-sm-5 col-md-4 text-center">
            <div class="row">
                <div class="col-xs-5">
                    <h4><i class="fa fa-usd"></i>{{searchDetailModel.gadget.regularPrice}}</h4>
                    <a href="{{searchDetailModel.gadget.url}}" target="_blank"><img
                            src="/project/client/img/bestbuy.png"></a>
                </div>
                <div class="col-xs-7 rating-like-container">
                    <!--<ng-rating ng-model="searchDetailModel.avgRating" editable="false"-->
                    <!--stars-count="searchDetailModel.maxRating"></ng-rating>-->
                    <div class="like-container">
                        <div ng-if="searchDetailModel.user">
                            <a href="" ng-if="!searchDetailModel.isLiked" ng-click="searchDetailModel.likeGadget()">
                                <i class="fa fa-thumbs-o-up search-detail-like"></i>
                            </a>
                            <a href="" ng-if="searchDetailModel.isLiked" ng-click="searchDetailModel.undoLikeGadget()">
                                <i class="fa fa-thumbs-up search-detail-like"></i>
                            </a>
                        </div>
                        <div ng-if="!searchDetailModel.user" uib-tooltip="Please login to like!">
                            <a>
                                <i class="fa fa-thumbs-o-up search-detail-like"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!--<div>-->
        <!--{{searchDetailModel.gadget.longDescription}}-->
    <!--</div>-->
    <output class="text-justify"
            ng-bind-html="searchDetailModel.renderHtml(searchDetailModel.gadget.longDescription)"></output>
    <hr/>
    <div class="row">
        <div class="container-fluid no-padding">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".feature">FEATURE</a>
                </li>
                <li ui-sref-active="active" role="presentation" class="text-center">
                    <a ui-sref=".review">REVIEWS</a>
                </li>
                <li ui-sref-active="active" role="presentation" class=" text-center">
                    <a ui-sref=".spec">SPECIFICATION</a>
                </li>
            </ul>

            <div ui-view></div>

        </div>
    </div>
</div>